.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: center;
    }
  
    .header > div {
      width: 100%;
      margin: 10px 0;
    }
  }
  